*{
    margin:0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}
.main_box{
    background: url("photo.jpg");
    background-size: cover;
    height:100vh;
    
}
.btn_one{
    color:white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    line-height: 60px;
    left:16px;
}
.sidebar_menu{
    position: fixed;
    /*left:0px;*/
    width:300px;
    height: 100vh;
    background-color:rgba(105,105,105,0.2);
    box-shadow: px 0px 4px rgba(255,255,255,0.5);


}
.sidebar_menu .logo{
    position:absolute ;
    width:100%;
    line-height: 60px;

    box-shadow: px 0px 4px rgba(255,255,255,0.2);

    


}
.sidebar_menu .logo a{
    position: absolute;
    left:30px;
    font-size: 20px;
    font-weight: 500px;
    color: white;
    text-decoration: none;
}
.sidebar_menu .btn_two{
    color:white;
    position: absolute;
    font-size: 15px;
    font-weight: 400;
    line-height: 60px;
    left: 275px;
    opacity: 0;
}
.sidebar_menu .menu{
    position: absolute;
    width:100%;
    top:80px;
}
.sidebar_menu .menu li{
    margin: 10px;
    padding: 10px 20px;

}
